.portfolio {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f4f5f8;
    .portfolio__container {
        width: 100%;
        max-width: 1200px;
        display: inline-block;
        padding: 2px 0;
        height: 100%;
        // @media (min-width: 990px) {
        //     max-width: 950px;
        // }
        // @media (min-width: 768px) {
        //     max-width: 720px;
        // }
        // @media (min-width: 576px) {
        //     max-width: 540px;
        // }

        .portfolio__table {
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            margin-top: 1rem;
            padding-left: 15px;
            padding-right: 15px;
                   
            .portfolio__title {
                position: relative;
                margin: auto;
                padding: 0;
                display: block;
                text-align: center !important;
                z-index: 1;
                h4 {
                    position: relative;
                    display: inline-block;
                    text-transform: capitalize;
                    font-family: 'Montserrat', sans-serif;
                    padding-bottom: 10px;
                    color: #484848;
                    font-size: 2.2rem;
                    margin-bottom: 50px;
                    font-weight: 600;
                    border-bottom: 1px solid #f4f5f8;
                    text-shadow: 2px 4px 3px rgba(151, 151, 151, 0.219);
                    &:before {
                        content: "";
                        width: 60px;
                        height: 1px;
                        background-color: #9c27b0;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    span {
                        color: #9c27b0;
                    }
                }
                  
            }
            .part {
                display: flex;
                flex-direction: column;
                .portfolio__nav {
                    margin: 0 auto;
                    text-align: center !important;
                    margin-bottom: 50px;

                    .btn {
                        display: inline-block;
                        margin: 0 10px;
                        cursor: pointer;
                        padding: 5px 5px;
                        font-size: 14px;
                        letter-spacing: 2px;
                        color: #777;
                        transition: all .5s;
                        background: none;
                        &:hover {
                            color: #9c27b0;
                        }
                        &:active {
                            color: #9c27b0;
                            border-top: 1px solid #f4f5f8; 
                            border-bottom: dotted #9c27b0; 
                            
                        }
                    }
                    .active {
                        color: #9c27b0;
                        border-top: 1px solid #777; 
                        border-bottom: dotted #9c27b0; 
                        
                    }
                
                }
                .portfolio-gallery {
                    width: 100%;
                    .portfolio__items {
                        position: relative;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: auto;
                        @media (max-width: $sm) {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 8 auto;
                        }
                        .grid-item {
                            padding: 5px;
                            position: relative;
                            figure {
                                position: relative;
                                overflow: hidden;
                                border-radius: 10px;
                                img {
                                    position: relative;
                                    width: 100%;
                                    display: block;
                                    
                                } 
                                .item-img-overlay { 
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                    right: 15px;
                                    bottom: 15px;
                                    border-radius: 4px;
                                    background: rgba(255, 255, 255, 0.9);
                                    border: 1px solid #f7f7f7;
                                    // display: none;     //if js working
                                    opacity: 0;    //if js working
                                    overflow: hidden;
                                    transition: all .5s;
                                    color: #fff;
                                    z-index: 1;
                                    &:hover {       
                                        opacity: 1;
                                        cursor: pointer;
                                    }
                                    
                                    .v-middle {
                                        position: absolute;
                                        width: 100%;
                                        top: 50%;
                                        left: 0;
                                        transform: translateY(0%, -50%);
                                    
                                        figcaption {
                                            position: absolute;
                                            left: 50%;
                                            margin-left: -50px;
                                            bottom: -50%;
                                            z-index: 2;
                                            transition: all .5s;
                                            &:hover {
                                                bottom: 50%;
                                                margin-bottom: -50px;
                                            }
                                        
                                            .zmdi {
                                                display: inline-block;
                                                margin: 1rem;
                                                font-size: 1.2rem;
                                                color: #9c27b0;
                                                
                                            }
                                            h5 {
                                                font-weight: 900;
                                                margin-bottom: 20px;
                                                color: #111;
                                                font-family: 'Montserrat', sans-serif;
                                                text-transform: uppercase;
                                            } 
                                        }    
                                    }
                                    .text-center {
                                        text-align: center !important;
                                    }
                                }    
                            }    
                        }
                        .item-1 {
                          grid-area: 1 / 1 / 4 / 2;  
                        }
                        .item-2 {
                            grid-area: 1 / 2 / 6 / 3;
                        }
                        .item-3 {
                            grid-area: 1 / 3 / 4 / 4;
                        }
                        .item-4 {
                            grid-area: 4 / 1 / 10 / 2;
                        }
                        .item-5 {
                            grid-area: 6 / 2 / 10 / 3;
                        }
                        .item-6 {
                            grid-area: 4 / 3 / 10 / 4;
                        }
                        .item-7 {
                            grid-area: 10 / 1 / 16 / 2;
                        }
                        .item-8 {
                            grid-area: 10 / 2 / 16 / 4;
                        }
                    }
                    // @media (max-width: $md) {
                    //     display: grid;
                    //     grid-template-columns: 1fr 1fr ;
                    //     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                    // }
                    
                }  
            }        
        }    
    }  
}

.section__padding {
    padding: 100px 0px;
}

